

body{
	font-family: Arial, Helvetica, sans-serif;
}

#main-doc{
  	padding: 10px 10px 20px 20px;
  	max-width: inherit;
  	background: #f9f9f9;
  	color: #4a4a4a;
  	margin-left: 220px;
}

.main-section a{
	color: #333399;
	text-decoration: none;
}

.main-section a:hover{
	color: #66cc00;
}

#navbar{
	margin: 0;
	padding: 10px;
	width: 200px;
	background-color: #a3c2c2;
	position: fixed;
	height: 100%;
	overflow: auto;
}
#navbar > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a.nav-link{
	display: block;
	color: #000000;
	padding: 5px 0px 5px 0px;
	text-decoration: none;
}

a:hover.nav-link{
	color: #ffffff;
	background-color: #006680;
}


@media screen and (max-width: 600px){
	#navbar {
		height: 125px;
		width: 95%;
		position: relative;
		overflow: scroll;
	}

	#main-doc{
		padding: 5px 5px 10px 10px;
  		max-width: inherit;
  		background: #f9f9f9;
  		color: #4a4a4a;
  		margin-left: 0px;
	}
}